@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200,400&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

.user{
	display: flex;
	background: #f4f4f4;
	padding: 10px;
	margin-bottom: 10px;
}

.user ul{
	list-style: none;
}